@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");

/*  CSS
 csslint ignore:start */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}/* csslint ignore:end */

html {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(5, 4, 5);
}

body {
  background-color: rgb(218, 218, 218);
  line-height: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
}

h2 {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding-bottom: 0.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  max-width: 1310px;
  margin: 0 auto;
  padding-top: 161px;
}

@media screen and (max-width: 992px) {
  main {
    padding-top: 60px;
  }
}

.nw-logo.red {
  background-image: url(../assets/logo-red.svg);
}

.nw-logo.white {
  background-image: url(../assets/logo-white.svg);
}

.nw-logo {
  display: inline-block;
  background-repeat: no-repeat;
}

/* #region navbar */

/* #region s-m-size */
@media screen and (max-width: 991px) {
  .navbar-fixed-top {
    position: fixed;
    width: 100%;
  }

  .navbar {
    z-index: 1;
    background-color: #f72210;
    min-height: 50px;
  }

  nav > a > img {
    height: 20px;
    width: 131px;
    margin-bottom: 5px;
  }

  .navbar-toggler {
    border: 0;
  }

  .fa-bars {
    color: rgb(253, 251, 251);
    opacity: 0.5;
  }

  .subsA {
    background-color: #fff;
    min-height: 25px;
    margin-bottom: 5px;
  }

  .subsA > a {
    font: bold 14px/14px "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
  }

  .subsA > i {
    padding-right: 5px;
  }

  .subsA > a,
  .subsA > i {
    text-decoration: none;
    padding-top: 5px;
    color: #f72210;
  }

  .signA {
    font: bold 14px/14px "Roboto Condensed", sans-serif;
    font-size: 18px;
    color: #fff;
  }

  .signA:hover {
    text-decoration: none;
    color: #fff;
  }
}

/* #endregion */

/* #region s>m size */
@media screen and (min-width: 992px) {
  .nav-1 {
    z-index: 1;
    background-color: #f72210;
  }

  .navbar-fixed-top {
    position: fixed;
  }

  .box-nav-1 {
    height: 95px;
  }

  .bx-1b > a > img {
    top: 20px;
    width: 414px;
    height: 63px;
  }

  .bx-1a > p {
    font: 500 14px/14px "Roboto Condensed", sans-serif;
    font-size: 16px;
    margin-top: 30px;
    color: #fff;
  }

  .bx-1c > * {
    margin-top: 35px;
  }

  .signA {
    font: bold 14px/14px "Roboto Condensed", sans-serif;
    font-size: 18px;
    color: #fff;
    padding-right: 5px;
  }

  .signA:hover {
    text-decoration: none;
    color: #fff;
  }

  .subsA {
    background-color: #fff;
    min-height: 25px;
  }

  .subsA > a {
    font: bold 14px/14px "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
  }

  .subsA > i {
    padding-right: 5px;
  }

  .subsA > a,
  .subsA > i {
    text-decoration: none;
    color: #f72210;
  }

  .nav-item {
    font: 900 14px/14px "Roboto Condensed", sans-serif;
    color: black !important;
    opacity: 1;
    font-size: 20px;
    font-weight: bold;
    border-right: 1px solid rgb(202, 201, 201);
    height: 25px;
  }

  .nav-item:last-of-type {
    border: 0;
  }

  .nav-item:hover {
    color: #f72210 !important;
  }

  /* navbar 3 large size
   */

  .nav-3 {
    z-index: 1;
    top: 95px;
    height: 50px;
    width: 100%;
  }

  .nav-3 > div > ul {
    background-color: #fff;
    height: 50px;
    margin-top: auto;
  }

  .nav-3 > div > ul > li {
    min-width: 7%;
    font: 900 14px/14px "Roboto Condensed", sans-serif;
    color: black !important;
    opacity: 1;
    font-size: 20px;
    font-weight: bold;
    border-right: 1px solid rgb(202, 201, 201);
  }

  .nav-3 > div > ul > li > a {
    margin: 0;
    border: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    padding-top: 5px;
  }

  .nav-3 > div > ul > li:first-of-type {
    min-width: 5%;
  }

  .nav-3 > div > ul > li:nth-child(9) {
    border: 0;
  }

  .nav-3 > div > ul > li:nth-child(4) {
    min-width: 145px;
  }

  .nav-3 > div > ul > li:nth-child(10) {
    min-width: 10%;
    width: 16.5%;
    border: 0;
    flex-grow: 1;
  }

  .nav-3 > div > ul > li:last-of-type {
    min-width: 5.4%;
  }

  .head-panel::before {
    background-color: #f72210;
    border-left: 12px solid #fff;
    border-top: 13px solid #f72210;
    content: "";
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 66px;
  }
}

/* #endregion */

/* #endregion */

/* #region header */

/* #region con-container-1 */

/* #region top-story */
.top-story {
  margin-bottom: 2em;
}

.top-story h2 {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding-bottom: 0.3em;
}

.top-story h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: black;
  padding: 0.3em 0;
}

.top-story div a:last-of-type {
  font-size: 20px;
}

.top-story p {
  padding: 0.3em 0;
  color: rgb(53, 52, 52);
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  clear: both;
  border-bottom: thin solid rgba(128, 128, 128, 0.4);
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.top-story-img {
  position: relative;
  width: 100%;
}

.top-story-img > a > img {
  width: 100%;
}

.top-story-img > a.cornerbox {
  bottom: 0;
  left: 0;
  color: #f72210;
  font: bold 17px "Roboto Condensed", sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px 15px 9px;
  position: absolute;
  text-transform: uppercase;
}

/* #endregion */

/* #region more-stories */
.more-stories > div {
  clear: both;
  border-top: thin solid rgba(128, 128, 128, 0.4);
  padding-top: 1em;
  margin-bottom: 1em;
}

.more-stories div > a > img {
  width: 55%;
  float: left;
  margin: 0 10px 5px 0;
}

.more-stories h3 {
  color: black;
  font: bold 17px "Roboto Condensed", sans-serif;
}

.more-stories h2 {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding-bottom: 0.5em;
}

.more-stories p {
  color: #333;
  font: 13px Arial, Helvetica, sans-serif;
  padding: 0.5em 1em;
}

@media (max-width: 767px) and (min-width: 481px) {
  .more-stories div > a > img {
    width: 258px;
  }
}

@media screen and (min-width: 768px) {
  .more-stories div > a > img {
    width: 135px;
    height: 90px;
  }
}

/* #endregion */

/* #region culture-and-travel */
@media (max-width: 639px) and (min-width: 560px) {
  .culture-and-travel {
    margin-top: 6%;
  }
}

@media (max-width: 669px) and (min-width: 640px) {
  .culture-and-travel {
    margin-top: 8%;
  }
}

@media (max-width: 767px) and (min-width: 670px) {
  .culture-and-travel {
    margin-top: 10%;
  }
}

@media screen and (min-width: 768px) {
  .culture-and-travel {
    margin-top: 0;
  }
}

.culture-and-travel {
  background-color: aliceblue;
}

.culture-and-travel div.cultr {
  padding-bottom: 2em;
}

.culture-and-travel img {
  width: 100%;
}

.culture-and-travel h3 {
  color: black;
  font: 18px "Lora", serif;
  padding: 0.5em 1em;
  line-height: 1.1em;
}

.culture-and-travel h2 {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding: 0.5em 0.5em;
  line-height: 1.1em;
}

.culture-and-travel p {
  color: rgba(39, 39, 39, 0.5);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding: 0.5em 1em;
  line-height: 1.2em;
}

.culture-and-travel .btn {
  font: 13px Arial, Helvetica, sans-serif;
  background-color: #c2d4d7;
  padding: 0 6px;
  margin: 0 9px 6px 1em;
}

.culture-and-travel .btn:hover {
  color: #c2d4d7;
  background-color: black;
}

/* #endregion */

/* #region featured-stories */

@media screen and (min-width: 768.5px) {
  .featured-stories {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 15px;
  }
}

.featured-stories .sticky-panel {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.img-cornerbox {
  position: relative;
  width: 100%;
}

.img-cornerbox img {
  width: 100%;
}

.img-cornerbox a.cornerbox {
  bottom: 0;
  left: 0;
  color: #f72210;
  font: bold 17px "Roboto Condensed", sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px 15px 9px;
  position: absolute;
  text-transform: uppercase;
}

.featured-stories h2 {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding-bottom: 0.3em;
}

.featured-stories h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: black;
  padding: 0.3em 0;
}

.featured-stories p {
  padding: 0.3em 0;
  color: rgb(53, 52, 52);
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  clear: both;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

/* #endregion */

/* #endregion */

/* #region con-container-2 */
.col-cont-2 {
  background-color: antiquewhite;
}

/* #region opinion */
.opinion > div {
  display: grid;
  grid-template-areas: "photo header" "photo author";
  grid-template-columns: 73px 1fr;
  grid-template-rows: auto auto;
  border-bottom: thin solid rgba(128, 128, 128, 0.29);
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.opinion > div:last-of-type {
  border-bottom: 0;
}

.opinion h2 {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding-bottom: 0.3em;
}

.opinion img {
  grid-area: photo;
  -ms-flex-item-align: center;
  align-self: center;
  max-width: 63px;
}

.opinion h3 {
  grid-area: header;
  font: bold 17px "Roboto Condensed", sans-serif;
  color: black;
  margin-bottom: 0.5em;
}

.opinion h4 {
  grid-area: author;
  font: bold 14px "Roboto Condensed", sans-serif;
  color: #555;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

/* #endregion */

/* #region latest-news */
.latest-news {
  background-color: aquamarine;
}

.latest-news h2 {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding-bottom: 0.5em;
}

.latest-news > div {
  display: grid;
  grid-template-areas: "photo header";
  grid-template-columns: 268px 1fr;
  grid-template-rows: auto;
  border-bottom: thin solid rgba(128, 128, 128, 0.29);
  padding-bottom: 0.7em;
  margin-bottom: 0.7em;
}

.latest-news > div:last-of-type {
  border-bottom: 0;
}

.latest-news img {
  grid-area: photo;
  -ms-flex-item-align: center;
  align-self: center;
  width: 258px;
  height: 172px;
}

.latest-news h3 {
  grid-area: header;
  font: bold 17px "Roboto Condensed", sans-serif;
  color: black;
  margin-bottom: 0.5em;
}

/* .latest-news img,
.latest-news h3:hover {
  color: #f72210;
  cursor: pointer;
} */

@media screen and (min-width: 768px) {
  .latest-news > div {
    grid-template-columns: 145px 1fr;
  }

  .latest-news img {
    width: 135px;
    height: 90px;
  }
}

@media (max-width: 480px) and (min-width: 100px) {
  .latest-news img {
    width: 135px;
    height: 90px;
  }

  .latest-news > div {
    grid-template-columns: 135px 1fr;
    grid-template-rows: auto;
    padding-bottom: 0;
    margin-bottom: 0.7em;
  }

  .latest-news h3 {
    margin-left: 0.5em;
  }
}

/* #endregion */

/* #region sponsored */

.sponsored h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: black;
  padding: 0.3em 0;
}

.sponsored p {
  padding: 0.3em 0;
  color: rgb(53, 52, 52);
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  clear: both;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.txt-box-sponsored {
  border-bottom: thin solid rgba(128, 128, 128, 0.29);
  border-right: thin solid rgba(128, 128, 128, 0.29);
  border-left: thin solid rgba(128, 128, 128, 0.29);
  margin-bottom: 1em;
}

.sponsored > div > div:nth-child(2) {
  margin-bottom: 1em;
  margin-top: 1em;
}

.sponsored > div > div:nth-child(3) {
  margin-bottom: 1em;
}

.txt-box-sponsored:last-of-type {
  margin: 0;
}

.sponsored .signup {
  background-color: #f4f5f6;
  color: #333;
  padding: 20px;
  font: bold 19px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  display: grid;
  grid-template-areas: "logo head" "sign sign" "pref pref";
  grid-template-columns: 38px 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: space-between;
  border: thin solid rgba(128, 128, 128, 0.29);
}

@media (max-width: 768px) and (min-width: 100px) {
  .sponsored .signup {
    min-width: 290px;
    max-width: 300px;
    margin: auto;
  }
}

.sponsored .signup h3 {
  grid-area: head;
}

.sponsored .signup .logo {
  grid-area: logo;
  -ms-flex-item-align: center;
  align-self: center;
}

.sponsored .signup .signup-button {
  grid-area: sign;
  padding: 20px 0;
}

.sponsored .signup .signup-button a {
  color: white;
  background-color: #666;
}

.sponsored .signup a.prefs {
  grid-area: pref;
  font: bold 15px 'Roboto Condensed', sans-serif;
  text-transform: none;
  color: black;
}

.nw-logo-small {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: #f72210;
  background-image: url(../assets/logo-n1.svg);
}

/* #endregion */

/* #endregion */

/* #endregion */

/* #region features */
.features {
  background-color: aqua;
}

.features h2 {
  font-size: 19px;
  color: black;
  text-align: center;
  line-height: 38px;
  border-bottom: thin solid rgba(128, 128, 128, 0.29);
  padding-bottom: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.features h2 .logo {
  margin-bottom: -8px;
  margin-right: 8px;
}

.features .see-all {
  display: inline-block;
  font: bold 18px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding: 10px 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.features .see-all:hover {
  background-color: rgb(223, 222, 222);
  text-decoration: none;
  color: black;
}

.features .feature {
  display: grid;
  grid-template-areas: "image   image" "feature section" "header  header";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 26px auto;
  padding-bottom: 2em;
}

.features .feature .image {
  grid-area: image;
}

.features .feature img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1209px) and (min-width: 768px) {
  .features .feature .image {
    height: 97%;
  }
}

@media (min-width: 1209px) {
  .features .feature .image {
    height: 97%;
  }
}

.features .feature .title {
  grid-area: header;
  font: bold 20px "Roboto Condensed", sans-serif;
}

.features .feature .title > h3 {
  font-size: 16px;
  font-weight: bold;
}

.features .feature .lt-box {
  grid-area: feature;
  height: 26px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #f72210;
  color: white;
  padding: 5px 7px;
}

.features .feature .rt-box {
  grid-area: section;
  height: 26px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #f4f5f6;
  color: #f72210;
  padding: 5px 7px;
}

@media (max-width: 994px) and (min-width: 768px) {
  .features .feature .rt-box {
    font-size: 80%;
    font-weight: 500;
  }
}

@media (min-width: 995px) {
  .features .feature .rt-box {
    font-size: 90%;
    font-weight: 700;
  }
}

@media (min-width: 1120px) {
  .features .feature .rt-box {
    font-size: 100%;
    font-weight: 700;
  }
}

.features .feature .rt-box > a {
  width: 100%;
  color: #f72210;
  text-decoration: none;
}

/* #endregion */

/* #region editors-pick */
.editors-pick {
  margin-bottom: 2em;
}

.editors-pick h2 {
  font-size: 19px;
  color: black;
  text-align: center;
  line-height: 38px;
  border-bottom: thin solid rgba(128, 128, 128, 0.29);
  padding-bottom: 5px;
  margin: 0 15px 15px;
}

.editors-pick h2 .logo {
  margin-bottom: -8px;
  margin-right: 8px;
}

.editors-pick h3 {
  font: bold 24px "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: black;
  padding: 7px 0;
  line-height: 1em;
}

.editors-pick p {
  padding: 7px 0;
  font-size: 15px;
  margin-bottom: 15px;
}

/* #endregion */

/* #region slides-shows */

.slideshows h2 {
  font-size: 19px;
  color: black;
  text-align: center;
  line-height: 38px;
  border-bottom: thin solid rgba(128, 128, 128, 0.29);
  padding-bottom: 5px;
  margin: 0 15px 15px;
}

.slideshows h2 .logo {
  margin-bottom: -8px;
  margin-right: 8px;
}

.slideshows .row > div {
  padding: 0 15px 40px;
}

.slideshows .row > div h3 {
  font: bold 22px "Roboto Condensed", sans-serif;
  padding-top: 20px;
  margin-bottom: 10px;
}

.slideshow-image {
  position: relative;
  width: 100%;
}

.slideshow-image img {
  width: 100%;
}

.slideshow-image a.count {
  display: inline-block;
  width: 70px;
  height: 52px;
  bottom: 0;
  left: 0;
  color: #f72210;
  font: bold 17px "Roboto Condensed", sans-serif;
  background-image: url(../assets/icon-slideshows.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px 0 0 5px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
}

.slideshow-image a:hover {
  text-decoration: none;
}

/* #endregion */

/* #region section-pick */

.section-pick {
  border-top: 2px solid rgba(128, 128, 128, 0.3);
  margin-top: 10px;
  padding-top: 10px;
}

.section-pick h2 {
  font: bold 22px "Roboto Condensed", sans-serif;
  color: #f72210;
  text-transform: none;
}

.section-pick .big-section {
  font: bold 22px "Roboto Condensed", sans-serif;
}

.section-pick .big-section img {
  width: 100%;
}

.section-pick .big-section h3 {
  margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
  .section-pick .big-section h3 {
    font-size: 18px;
  }
}

.section-pick .small-section {
  border-top: 2px solid rgba(128, 128, 128, 0.3);
  margin-top: 10px;
  padding-top: 10px;
  display: grid;
  grid-template-areas: "image header";
  grid-template-columns: auto auto;
  grid-gap: 5px;
}

.section-pick .small-section:first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

.section-pick .small-section img {
  grid-area: image;
  width: 135px;
  height: 90px;
}

@media screen and (max-width: 768px) {
  .section-pick .small-section img {
    width: 258px;
    height: 172px;
  }
}

.section-pick .small-section h3 {
  grid-area: header;
  font: bold 17px "Roboto Condensed", sans-serif;
}

/* #endregion */

/* #region bottom-sign-up */
.bottom-sign-up {
  padding-top: 40px;
}

.bottom-sign-up h2 {
  grid-area: header;
  color: #f72210;
}

.bottom-sign-up > div {
  padding: 30px;
}

.bottom-sign-up > div .covers {
  position: relative;
  width: 260px;
  height: 260px;
  margin: auto;
}

.bottom-sign-up > div .covers img {
  width: 170px;
  height: 227px;
  position: absolute;
  right: 0;
  bottom: 15px;
}

.bottom-sign-up > div .covers img:first-child {
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
}

.bottom-sign-up .text {
  -ms-flex-item-align: center;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .bottom-sign-up .text {
    text-align: center;
  }
}

.bottom-sign-up .text h3 {
  font: bold 24px "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .bottom-sign-up .text h3 {
    font-size: 20px;
  }
}

.bottom-sign-up .text p {
  font-size: 15px;
  margin-bottom: 25px;
}

.newsletter {
  padding-top: 40px;
  border-bottom: thin solid rgba(131, 15, 15, 01);
}

.newsletter .row {
  height: 90%;
}

.newsletter h2 {
  color: #f72210;
}

.newsletter .image {
  width: 100%;
  height: 100%;
  background-image: url(../assets/subscribe-img2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .newsletter .image {
    height: 160px;
  }
}

.newsletter .text {
  padding: 20px;
  -ms-flex-item-align: center;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .newsletter .text {
    text-align: center;
  }
}

.newsletter .text h3 {
  font: bold 24px "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
}

.newsletter .text p {
  font-size: 15px;
  margin-bottom: 25px;
}

.red-btn {
  background-color: #f72210;
  color: white;
  font: bold 18px "Roboto Condensed", sans-serif;
  text-decoration: none;
}

.red-btn:hover {
  background-color: #c61606;
  color: white;
}

/* #endregion */

/* #region footer */
footer {
  background-color: white;
  max-width: 1310px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

footer .top {
  font-size: 12px;
  color: #666;
  line-height: 20px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.25);
  padding-top: 15px;
}

footer .top div:last-child {
  text-align: right;
}

@media screen and (max-width: 768px) {
  footer .top div:last-child {
    text-align: left;
  }
}

footer .bottom div:last-child {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  footer .bottom div:last-child {
    text-align: left;
  }
}

footer .bottom p {
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
  color: #555;
  margin-right: 0;
}

footer .nw-logo {
  width: 236px;
  height: 35px;
  padding: 0 15px 15px;
}

footer .fab {
  font-size: 24px;
  color: grey;
  margin-left: 13px;
  margin-top: 12px;
}

footer .fab:hover {
  font-size: 24px;
  color: rgb(62, 101, 146);
  cursor: pointer;
  margin-left: 13px;
  margin-top: 12px;
}

footer li {
  display: inline-block;
  border-right: 0;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
}

footer li:last-child {
  border-right: none;
}

footer li a {
  color: #666;
  font-size: 14px;
}

footer li a:hover {
  text-decoration: none;
  color: black;
}

.bottom > div:last-of-type > ul > li {
  display: inline-block;
  border-right: none;
  padding-right: 0;
  padding-bottom: 10px;
}

.bottom > div:last-of-type > ul > li:first-child {
  border-right: none;
}

.bottom > div:last-of-type > ul {
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .bottom > div:last-of-type > ul > li {
    border-right: 1px solid #d9d9d9;
  }

  .bottom > div:last-of-type > ul > li:first-child {
    border-right: none;
  }

  .bottom > div:last-of-type > ul > li {
    padding-right: 10px;
    padding-bottom: 10px;
  }

  footer li {
    border-right: 1px solid #d9d9d9;
  }

  .top > div:first-of-type > p {
    display: inline;
    width: 200px;
  }
}

.top > div:first-of-type > p {
  width: 200px;
}

/* #endregion */
