@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");

/*  CSS
 csslint ignore:start */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}/* csslint ignore:end */

html {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(5, 4, 5);
}

body {
  background-color: rgb(75, 136, 102);
  line-height: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  height: 1500px;
}

.navbar {
  background-color: #fff;
}

@media screen and (max-width: 991px) {
  .navbar-fixed-top {
    position: fixed;
    width: 100%;
  }

  .navbar {
    background-color: #f72210;
    min-height: 50px;
  }

  nav > a > img {
    height: 20px;
    width: 131px;
    margin-bottom: 5px;
  }

  .navbar-toggler {
    border: 0;
  }

  .fa-bars {
    color: rgb(253, 251, 251);
    opacity: 0.5;
  }

  .subsA {
    background-color: #fff;
    min-height: 25px;
    margin-bottom: 5px;
  }

  .subsA > a {
    font: bold 14px/14px "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
  }

  .subsA > i {
    padding-right: 5px;
  }

  .subsA > a,
  .subsA > i {
    text-decoration: none;
    padding-top: 5px;
    color: #f72210;
  }

  .signA {
    font: bold 14px/14px "Roboto Condensed", sans-serif;
    font-size: 18px;
    color: #fff;
  }

  .signA:hover {
    text-decoration: none;
    color: #fff;
  }
}

@media (min-width: 992px) {
  .nav-1 {
    background-color: #f72210;
  }

  .nav-2 {
    top: 95px;
  }

  .navbar-fixed-top {
    position: fixed;
    width: 100%;
  }

  .box-nav-1 {
    height: 95px;
  }

  .bx-1b > a > img {
    top: 20px;
    width: 414px;
    height: 63px;
  }

  .bx-1a > p {
    font: 500 14px/14px "Roboto Condensed", sans-serif;
    font-size: 16px;
    margin-top: 30px;
    color: #fff;
  }

  .bx-1c > * {
    margin-top: 35px;
  }

  .signA {
    font: bold 14px/14px "Roboto Condensed", sans-serif;
    font-size: 18px;
    color: #fff;
    padding-right: 5px;
  }

  .signA:hover {
    text-decoration: none;
    color: #fff;
  }

  .subsA {
    background-color: #fff;
    min-height: 25px;
  }

  .subsA > a {
    font: bold 14px/14px "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
  }

  .subsA > i {
    padding-right: 5px;
  }

  .subsA > a,
  .subsA > i {
    text-decoration: none;
    color: #f72210;
  }

  .nav-item {
    font: 900 14px/14px "Roboto Condensed", sans-serif;
    color: black !important;
    opacity: 1;
    font-size: 20px;
    font-weight: bold;
    border-right: 1px solid rgb(202, 201, 201);
    height: 25px;
  }

  .nav-item:hover {
    color: #f72210 !important;
  }

  /* .navbar {
    width: 70%;
  } */
}
